*{
    box-sizing:border-box;
    padding:0px;
    margin: 0px;
}
nav{
    display:flex;
    background-color:#042A2B;  
    height:50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-left h1{
    color:white;
    margin-right: 300px;
    /* margin-left: 5px; */
  }
  .nav-left{
    line-height: 20px;
    display:flex;
    align-items: center;
  }

  .nav-left li a{
    color:white;
  }

.nav-right{
    display: flex;
    justify-content:right; 
}



.nav-right ul li {
    display: inline-block;
    margin-left: 30px;
}
.nav-right li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    /* width: 100%; */
    
}
.menu_items ul li{
 display: inline;
 margin-right:50px;
 /* width:50%; */
 justify-content: space-between;
 text-align: center;
}
.profile a{
    text-decoration: none;
    color: white;
}
/* .menu{
    position: relative; 
    margin-left: 100px;
}
.menu_items{
 display: none;
 background-color: gray;
 position: absolute;
}
.menu_items li a:hover ,.menu_items li:hover{
 background-color: rgb(201, 201, 201);
 padding:5px;

}
li{
    list-style: none;
    text-align: center;
    padding:5px;
}
ul{
    padding:5px;
}
.menu:hover .menu_items{
    display: block;
}
.menu i{
    font-size: 24px;
} */