*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: space-around;
}
table{
    width:700px;
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th,td{
 border-bottom: 1px solid #ddd;
 text-align: center;
 height:50px;
}
th{
    background-color: #06A77D;
    color: white;
}

button{
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    border:1px solid #ddd;
}
